<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <button @click="showContainer = !showContainer">Show/Hide</button>
        <h1 v-if="!showContainer">initial value</h1>
        <h1 v-else>changed value</h1>
        <hr>

        <h3 :style="{ backgroundColor : bgCounter}"> {{counter}} </h3>
        <button @click="counter++">increase</button>
        <button @click="counter--">decrease</button>
        <p v-if="counter > 0 ">counter positive</p>
        <p v-else-if="counter < 0">counter negative</p>
        <p v-else>counter 0</p>
        <hr>
        
        <!-- display:none -->
        <p v-show="counter > 0 ">counter positive</p>
        <p v-show="counter < 0">counter negative</p>
        <p v-show>counter 0</p>
    </div>
    <script src="app.js"></script>
</body>
</html>